<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                </div>
            </div><hr/>
            <div class="row text-center">
                <div class="row">
					<div class="col-lg-12 text-center">
                        <h3 class="section-heading">Launage</h3>
                    </div>
                </div>
                <div class="col-sm-2">
                    <span class="fa-stack fa-4x">
					<img src="img/skills/java.png" class="img-responsive img-circle" alt="">
                    </span>
                    <h5 class="service-heading">Intermediate</h5>
                </div>
                <div class="col-sm-2">
                    <span class="fa-stack fa-4x">
					<img src="img/skills/xml.png" class="img-responsive img-circle" alt="">
                    </span>
                    <h5 class="service-heading">Intermediate</h5>
                </div>
                <div class="col-sm-2">
                    <span class="fa-stack fa-4x">
					<img src="img/skills/c.png" class="img-responsive img-circle" alt="">
                    </span>
                    <h5 class="service-heading">Basic</h5>
                </div>
                <div class="col-sm-2">
                    <span class="fa-stack fa-4x">
					<img src="img/skills/cpp.png" class="img-responsive img-circle" alt="">
                    </span>
                    <h5 class="service-heading">Basic</h5>
                </div>
                <div class="col-sm-2">
                    <span class="fa-stack fa-4x">
					<img src="img/skills/python.png" class="img-responsive img-circle" alt="">
                    </span>
                    <h5 class="service-heading">Basic</h5>
                </div>
                <div class="col-sm-2">
                    <span class="fa-stack fa-4x">
					<img src="img/skills/android.png" class="img-responsive img-circle" alt="">
                    </span>
                    <h5 class="service-heading">Basic</h5>
                </div>
            </div>
            <div class="row text-center">
                <div class="row">
					<div class="col-lg-12 text-center">
                        <h3 class="section-heading">Web Skills</h3>
                    </div>
                </div>
                <div class="col-sm-2">
                    <span class="fa-stack fa-4x">
					<img src="img/skills/html.png" class="img-responsive img-circle" alt="">
                    </span>
                    <h5 class="service-heading">Intermediate</h5>
                </div>
                <div class="col-sm-2">
                    <span class="fa-stack fa-4x">
					<img src="img/skills/css.png" class="img-responsive img-circle" alt="">
                    </span>
                    <h5 class="service-heading">Intermediate</h5>
                </div>
                <div class="col-sm-2">
                    <span class="fa-stack fa-4x">
					<img src="img/skills/javascript.png" class="img-responsive img-circle" alt="">
                    </span>
                    <h5 class="service-heading">Intermediate</h5>
                </div>
                <div class="col-sm-2">
                    <span class="fa-stack fa-4x">
					<img src="img/skills/jquery.png" class="img-responsive img-circle" alt="">
                    </span>
                    <h5 class="service-heading">Intermediate</h5>
                </div>
                <div class="col-sm-2">
                    <span class="fa-stack fa-4x">
					<img src="img/skills/ajax.png" class="img-responsive img-circle" alt="">
                    </span>
                    <h5 class="service-heading">Basic</h5>
                </div>
                <div class="col-sm-2">
                    <span class="fa-stack fa-4x">
					<img src="img/skills/php.png" class="img-responsive img-circle" alt="">
                    </span>
                    <h5 class="service-heading">Basic</h5>
                </div>
            </div>
            <div class="row text-center">
                <div class="row">
					<div class="col-lg-12 text-center">
                        <h3 class="section-heading">Framework</h3>
                    </div>
                </div>
                <div class="col-sm-2">
                    <span class="fa-stack fa-4x">
					<img src="img/skills/spring.png" class="img-responsive img-circle" alt="">
                    </span>
                    <h5 class="service-heading">Intermediate</h5>
                </div>
                <div class="col-sm-2">
                    <span class="fa-stack fa-4x">
					<img src="img/skills/node.png" class="img-responsive img-circle" alt="">
                    </span>
                    <h5 class="service-heading">Intermediate</h5>
                </div>
                <div class="col-sm-2">
                    <span class="fa-stack fa-4x">
					<img src="img/skills/django.png" class="img-responsive img-circle" alt="">
                    </span>
                    <h5 class="service-heading">Basic</h5>
                </div>
                <div class="col-sm-2">
                    <span class="fa-stack fa-4x">
					<img src="img/skills/flask.png" class="img-responsive img-circle" alt="">
                    </span>
                    <h5 class="service-heading">Basic</h5>
                </div>
                <div class="col-sm-2">
                    <span class="fa-stack fa-4x">
					<img src="img/skills/mybatis.png" class="img-responsive img-circle" alt="">
                    </span>
                    <h5 class="service-heading">Basic</h5>
                </div>
                <div class="col-sm-2">
                    <span class="fa-stack fa-4x">
					<img src="img/skills/bootstrap.jpg" class="img-responsive img-circle" alt="">
                    </span>
                    <h5 class="service-heading">Basic</h5>
                </div>
            </div>
            <div class="row text-center">
                <div class="row">
					<div class="col-lg-12 text-center">
                        <h3 class="section-heading">Database & Server & etc</h3>
                    </div>
                </div>
                <div class="col-sm-3">
                    <span class="fa-stack fa-4x">
					<img src="img/skills/oracle.jpg" class="img-responsive img-circle" alt="">
                    </span>
                    <h5 class="service-heading">Basic</h5>
                </div>
                <div class="col-sm-3">
                    <span class="fa-stack fa-4x">
					<img src="img/skills/mysql.png" class="img-responsive img-circle" alt="">
                    </span>
                    <h5 class="service-heading">Basic</h5>
                </div>
                <div class="col-sm-3">
                    <span class="fa-stack fa-4x">
					<img src="img/skills/tomcat.jpg" class="img-responsive img-circle" alt="">
                    </span>
                    <h5 class="service-heading">Basic</h5>
                </div>
                <div class="col-sm-3">
                    <span class="fa-stack fa-4x">
					<img src="img/skills/git.png" class="img-responsive img-circle" alt="">
                    </span>
                    <h5 class="service-heading">Basic</h5>
                </div>
            </div>
        </div>
    </section>