<!DOCTYPE html>

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>이력서 - 이한나</title>
    <meta name="theme-color" content="#3a7bd5" />
    <meta name="description" content="풀스택 웹/모바일 개발자, 이한나의 이력서입니다." />
    <meta property="og:url" content="https://hanzzang.github.io/resume" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="이력서 - 이한나" />
    <meta property="og:image" content="/assets/images/resume-cover.png" />
    <meta property="og:description" content="풀스택 웹/모바일 개발자, 이한나의 이력서입니다." />
    <meta property="og:locale" content="ko_KR" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://hanzzang.github.io/resume" />
    <meta name="twitter:title" content="이력서 - 이한나" />
    <meta name="twitter:description" content="풀스택 웹/모바일 개발자, 이한나의 이력서입니다." />
    <meta name="twitter:image" content="/assets/images/resume-cover.png" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"/>
    <link rel="stylesheet" href="/assets/css/resume.css" />
  </head>

  <body>
    <div class="container">
      <section>
        <h1>
          반갑습니다,<br />저는 이한나입니다<span class="period-mark">.</span>
        </h1>
        <p>
          2년 차 자바 기반의 웹 백엔드 애플리케이션 개발자입니다.
          현재 금융사에서 웹과 앱 서비스를 개발/배포/운영하고 있으며 필요에 따라 PL 역할을 겸하고 있습니다.
        </p>
        <p>
          아름다운 유저 인터페이스 및 지속 가능한 코드 구현을 좋아합니다.
          이를 위해 능숙한 분야가 아니더라도 적극적으로 탐색하여 최적의 결과를 내도록 노력합니다.
        </p>
        <p>
          비즈니스 성장에 기여하는 일을 최우선으로 합니다. 
          빠르게 개발하고 배포하여 딜리버리하는 역량과 데이터를 활용하여 유저를 이해하는 역량을 쌓고자 노력해왔습니다. 
        </p>
        <p>
          또한, 큰 임팩트는 혼자가 아닌 함께 만들 수 있다고 생각하기에 다양한 직무의 구성원들과 적극적으로 커뮤니케이션하며 협업해왔습니다.
        </p>
      </section>
      <section>
        <h2>Skills<span class="period-mark">.</span></h2>
        <ul>
          <li>
            Backend : Java, Spring MVC, Spring Boot, Gradle, Maven, Devon
          </li>
          <li>
            DevOps : DB2, Oracle, Hudson, Jenkins, Nginx, Pharos(APM)
          </li>
          <li>
            Frontend : HTML5, CSS3(SCSS), JS(ES6), React
          </li>
          <li>
            Tools & Collaboration : Eclipse, IntelliJ, VS Code, Git, SVN
          </li>
        </ul>
      </section>
      <section>
        <h2>Work Experience<span class="period-mark">.</span></h2>
        <h3>우리금융캐피탈<span class="period-mark">.</span></h3>
        <span class="role">웹/모바일 금융 IT개발자 (<time datetime="2021-02">2021. 02</time> - 현재)</span>
        <div class="row">
          <div class="row-left">
            <h5>
              비대면 중도금 대출 및 전자약정 개발<span class="period-mark">.</span>
            </h5>
            <span class="role">PL 및 BE 개발</span>
            <span class="time"><time datetime="2022-06">2022. 06</time> - 현재</span>
          </div>
          <div class="row-right">
            <div class="project">
              <h5>What did I do<span class="period-mark">.</span></h5>
              <ul>
                <li>중도금 대출 및 전자약정 뷰 설계 및 process 개발</li>
                <li>고객 필수서류(주민등록등본, 초본) 웹스크래핑 적용</li>
              </ul>
              <h5>Tech Stack<span class="period-mark">.</span></h5>
              <p>Java, Spring Framework, Devon Framework, JavaScript, JSP, xFrame, DB2, Pharos(APM), SVN, Hudson, Jenkins, Anylink</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="row-left">
            <h5>
              부동산등기부등본, 공시지가 웹스크래핑 API 개발<span class="period-mark">.</span>
            </h5>
            <span class="role">PL 및 BE 개발(기여도: 25 %)</span>
            <span class="time"><time datetime="2021-12">2021. 12</time> - <time datetime="2022-06">2022. 06</time></span>
          </div>
          <div class="row-right">
            <div class="project">
              <h5>What did I do<span class="period-mark">.</span></h5>
              <ul>
                <li>부동산등기부등본 및 개별/공동주택 공시지가 웹스크래핑 뷰 설계 및 process 개발</li>
                <li>해당 정보 활용 한도산정 시 컷오프 기능 구현</li>
                <li>서버, 클라이언트간 HTTP 프로토콜 REST 아키텍처 적용</li>
                <li>ER-win을 통한 DB 논리적/물리적 구조 설계 및 메타 정보 정의</li>
              </ul>
              <h5>Tech Stack<span class="period-mark">.</span></h5>
              <p>Java, Spring Framework, Devon Framework, JavaScript, xFrame, DB2, Pharos(APM), SVN, Hudson, Jenkins, Anylink</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="row-left">
            <h5>
              담보대출 상담사 전용 웹 개발<span class="period-mark">.</span>
            </h5>
            <span class="role">BE 및 FE 개발(기여도: 50 %)</span>
            <span class="time"><time datetime="2021-12">2021. 12</time> - <time datetime="2022-05">2022. 05</time></span>
          </div>
          <div class="row-right">
            <div class="project">
              <h5>What did I do<span class="period-mark">.</span></h5>
              <ul>
                <li>상담, 한도조회, 서류스캔, 심사 등 담보대출 진행에 필요한 웹뷰 설계 및 process 개발</li>
                <li>모집법인/모집일별 신청고객 실시간 진행상태 조회 기능 구현</li>
                <li>고객 등록 및 서류 이미지 Upload 기능 구현</li>
                <li>토큰 기반 인증 서비스 구현</li>
                <li>User Daily Rolling File 로그모니터링 구현</li>
              </ul>
              <h5>Tech Stack<span class="period-mark">.</span></h5>
              <p>Java, Spring Framework, Devon Framework, JavaScript, JSP, xFrame, DB2, Pharos(APM), SVN, Hudson, Jenkins, Anylink</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="row-left">
            <h5>
              비대면 대출정보확인 모바일웹 개발<span class="period-mark">.</span>
            </h5>
            <span class="role">BE 및 FE 개발(기여도: 50 %)</span>
            <span class="time"><time datetime="2021-11">2021. 11</time> - <time datetime="2022-01">2022. 01</time></span>
          </div>
          <div class="row-right">
            <div class="project">
              <h5>What did I do<span class="period-mark">.</span></h5>
              <ul>
                <li>고객 대출정보확인 콜 업무의 모바일화</li>
                <li>Open Web nFilter 사용자 입력값 노출 방지</li>
                <li>Admin 사이트를 통해 Push 알람 기능 개발</li>
                <li>Kakao JDK sendDefault 카카오톡 전송 도입</li>
              </ul>
              <h5>Tech Stack<span class="period-mark">.</span></h5>
              <p>Java, Spring Framework, Devon Framework, JavaScript, JSP, xFrame, DB2, Pharos(APM), SVN, Hudson, Jenkins, Anylink</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="row-left">
            <h5>
              간편인증 연계 시스템 개발<span class="period-mark">.</span>
            </h5>
            <span class="role">BE 및 FE 개발(기여도: 50 %)</span>
            <span class="time"><time datetime="2021-10">2021. 10</time> - <time datetime="2021-12">2021. 12</time></span>
          </div>
          <div class="row-right">
            <div class="project">
              <h5>What did I do<span class="period-mark">.</span></h5>
              <ul>
                <li>카카오페이, 패스, 토스의 간편인증 연계 시스템 구현</li>
                <li>웹/모바일 채널의 사설인증 연계 공통 웹뷰 설계 및 process 개발</li>
                <li>대내 API를 통해 카카오페이, 패스, 토스 간편인증 API 적용을 이용한 SDK와 프론트엔드 UI의 실시간 통신 구현</li>
              </ul>
              <h5>Tech Stack<span class="period-mark">.</span></h5>
              <p>Java, Spring Framework, JavaScript, JSP, DB2, Pharos(APM), SVN, Hudson, Jenkins, Anylink</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="row-left">
            <h5>
              비대면 개인금융 대출 상품 개발<span class="period-mark">.</span>
            </h5>
            <span class="role">BE 및 FE 개발(기여도: 50 %)</span>
            <span class="time"><time datetime="2021-06">2021. 06</time> - <time datetime="2021-10">2021. 10</time></span>
          </div>
          <div class="row-right">
            <div class="project">
              <h5>What did I do<span class="period-mark">.</span></h5>
              <ul>
                <li>오토담보론, 아파트신용대출, 아파트담보대출 웹뷰 설계 및 process 개발</li>
                <li>채널 영업을 위한 연계 페이지 오픈 (PASS, Toss, 티몬, 웰컴저축은행)</li>
                <li>빠른 개발, 재사용성을 고려한 JSTL Core Tag 활용</li>
                <li>3rd party library 활용 (암복호화, 공동인증, 백신, 위변조, 난독화, 가상키패드, MDM)</li>
                <li>step 별 session 관리로 중간 이탈자도 재접속 시 진행 유지 (session 1h 유지, DB 1day 유지)</li>
              </ul>
              <h5>Tech Stack<span class="period-mark">.</span></h5>
              <p>Java, Spring Framework, JavaScript, JSP, DB2, Pharos(APM), SVN, Hudson, Jenkins, Anylink</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="row-left">
            <h5>
              비대면 연계 대출 상품 개발<span class="period-mark">.</span>
            </h5>
            <span class="role">BE 및 FE 개발(기여도: 50 %)</span>
            <span class="time"><time datetime="2021-03">2021. 03</time> - <time datetime="2021-06">2021. 06</time></span>
          </div>
          <div class="row-right">
            <div class="project">
              <h5>What did I do<span class="period-mark">.</span></h5>
              <ul>
                <li>웹/모바일 비대면 연계대출(우리카드, 우리은행) 웹뷰 설계 및 process 개발</li>
                <li>인터페이스 충돌 방지 Private Module Pattern 적용</li>
                <li>Base64 URL 인코딩 Value 유출 방지</li>
                <li>3rd party library 활용 (암복호화, 공동인증, 백신, 위변조, 난독화, 가상키패드, MDM)</li>
                <li>step 별 session 관리로 중간 이탈자도 재접속 시 진행 유지 (session 1h 유지, DB 1day 유지)</li>
              </ul>
              <h5>Tech Stack<span class="period-mark">.</span></h5>
              <p>Java, Spring Framework, JavaScript, jQuery, DB2, Pharos(APM), SVN, Hudson, Jenkins, Anylink</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="row-left">
            <h3>Toy Project<span class="period-mark">.</span></h3>
            <span class="role">웹/모바일 프로젝트</span>
          </div>
          <div class="row-right">
            <div class="project">
              <h4>
                CINEBIRD<span class="period-mark">.</span>
              </h4>
              <span class="time">
                <time datetime="2019-09">2019. 09</time> - <time datetime="2019-11">2019. 11</time>
              </span>
              <h5>Description<span class="period-mark">.</span></h5>
              <p>
                <a href="https://github.com/hanzzang/Twitter-movie-crawling" target="_blank">CINEBIRD</a>는 영화를 보고 관객들이 느끼는 감정의 분포를 SNS(트위터)를 통해 탐색하여 영화 실제 평가를 파악하는데 목적을 두고 있습니다. 사용자에게 입력 받은 영화 제목을 기준으로 트윗을 크롤링합니다. 크롤링된 트윗 텍스트 중 유효한 데이터에 한해 감정 어휘를 추출하고 감정 어휘 사전을 이용해 텍스트 데이터를 정제하여 감정 어휘 값을 생성합니다. 최종적으로 해당 영화의 정보, 감정 평가결과, 워드클라우드를 사용자에게 제공합니다.
              </p>
              <h5>Tech Stack<span class="period-mark">.</span></h5>
              <p>Python3, R, BeautifulSoup4, Flask, konlpy, selenium</p>
            </div>
            <div class="project">
              <h4>
                Voice Web Browser<span class="period-mark">.</span>
              </h4>
              <span class="time">
                <time datetime="2018-09">2018. 09</time> - <time datetime="2019-11">2019. 11</time>
              </span>
              <h5>Description<span class="period-mark">.</span></h5>
              <p>
                <a href="https://github.com/hanzzang/SMU-VoiceBrowser" target="_blank">Voice Web Browser</a>은 모바일 홈페이지를 이용하는데 어려움을 겪는 다수의 정보소외계층을 위해 설계 되었습니다. 웹 페이지의 실시간 텍스트 음성변환, 메뉴/화면 확대, 고대비 색상반전, 하이라이트 포커스 기능 등 종합적인 접근성 기능을 제공합니다. 기존 서비스의 문제점을 해결함으로써 사용자가 원하는 부분만 선택해 텍스트 확대 및 음성 출력이 가능합니다.
              </p>
              <p>
                <a href="http://koreascience.or.kr/article/JAKO202034352379312.page" target="_blank">논문 바로가기</a>
              </p>
              <h5>Tech Stack<span class="period-mark">.</span></h5>
              <p>Java, Javascript, Android, Google TTS, STT API</p>
            </div>
            <div class="project">
              <h4>
                MODA<span class="period-mark">.</span>
              </h4>
              <span class="time">
                <time datetime="2018-09">2018. 09</time> - <time datetime="2019-11">2019. 11</time>
              </span>
              <h5>Description<span class="period-mark">.</span></h5>
              <p>
                <a href="https://github.com/hanzzang/SMU-VoiceMemoOrganizer" target="_blank">MODA</a>는 음성인식 기반 챗봇 다이어리 어플리케이션입니다. 손으로 직접 작성해야하는 기존의 다이어리 어플리케이션과는 달리 음성을 통해 시각장애인과 더불어 손이 자유롭지 못한 사람들이 쉽게 사용할 수 있고 챗봇을 이용한 대화형식을 통해 부담감 없이 다이어리를 쓸 수 있습니다. 일기를 작성한 후에는 저장이 가능하여 여태까지 작성한 일기를 날짜 및 태그를 이용해 일기 검색이 가능하고 일기 내용을 음성으로 불러올 수 있습니다.
              </p>
              <h5>Tech Stack<span class="period-mark">.</span></h5>
              <p>Java, Javascript, Android, Dialogflow API, Google TTS, STT API</p>
            </div>
            <div class="project">
              <h4>
                SM Sudoku<span class="period-mark">.</span>
              </h4>
              <span class="time">
                <time datetime="2018-03">2018. 03</time> - <time datetime="2018-06">2018. 06</time>
              </span>
              <h5>Description<span class="period-mark">.</span></h5>
              <p>
                <a href="https://github.com/hanzzang/Sudoku" target="_blank">SM Sudoku</a>는 스도쿠 퍼즐 게임 애플리케이션입니다. Mark, Undo/Redo, Undo to Last Good 기능이 지원됩니다. 입력은 키보드와 마우스 둘 다 가능합니다. Level 은 시작시 주어지는 숫자수에 따라 Easy, Medium, Hard, Extreme 으로 나뉘어집니다.
              </p>
              <h5>Tech Stack<span class="period-mark">.</span></h5>
              <p>Java, Javascript, Swing, AWT</p>
            </div>
            <div class="project">
              <h4>
                SM Tetris<span class="period-mark">.</span>
              </h4>
              <span class="time">
                <time datetime="2018-03">2018. 03</time> - <time datetime="2018-06">2018. 06</time>
              </span>
              <h5>Description<span class="period-mark">.</span></h5>
              <p>
                <a href="https://github.com/hanzzang/Tetris" target="_blank">SM Tetris</a>는 테트리스 퍼즐 게임 애플리케이션입니다. 스윙을 이용 해 매핑, 테트리스 기능 완성했습니다. 게임 모드는 3 가지로 SINGLE , COOP, COMPETE 입니다. COOP 은 두명의 플레이어가 서로 협동하는 모드이고 COMPETE 모드는 두사람이 경쟁하여 더 높은 점수를 획득한 사람이 이기는 모드입니다.
              </p>
              <h5>Tech Stack<span class="period-mark">.</span></h5>
              <p>Java, Javascript, Swing, AWT</p>
            </div>
          </div>
        </div>
      </section>
      <section>
        <h2>Other Experiences<span class="period-mark">.</span></h2>
        <div class="other">
          <h3>Blog<span class="period-mark">.</span></h3>
          <span class="role">Author, Maintainer</span>
          <span class="time"><time datetime="2020-12">2020. 12.</time> - 현재</span>
          <p>
            <a href="https://hanzzang.github.io/" target="_blank">hanzzang.github.io</a>이라는
            이름의 개인 블로그를 운영하고 있습니다. 비정기적으로 제가 새롭게
            배우게 된 내용 등을 글로 작성해 공유합니다.
          </p>
        </div>
        <div class="other">
          <h3>스마트로 인턴<span class="period-mark">.</span></h3>
          <span class="role">Intern</span>
          <span class="time">
            <time datetime="2020-08">2020. 08.</time> - <time datetime="2020-11">2020. 11</time>
          </span>
          <p>
            PG서비스와 관련하여 3개월 간의 인턴쉽 경험을 하였습니다.
            인턴 경험을 통해 프로덕션 레벨의 업무를 이해하고 커뮤니케이션 역량을 키울 수 있었습니다.
          </p>
        </div>
        <div class="other">
          <h3>IT 전문교육기관 교육<span class="period-mark">.</span></h3>
          <span class="role">Student</span>
          <span class="time">
            <time datetime="2018-08">2018. 08.</time> - <time datetime="2018-12">2018. 12</time>
          </span>
          <p>
            복수전공으로 인한 1년의 공백을 채우기 위해 IT 전문교육기관에서 6개월간 교육을 수료하였습니다.
            다양한 토이프로젝트를 진행하면서 웹/모바일 어플리케이션 서비스 구조를 이해하는 경험이 되었습니다.
            교육 수료 직후 복학한 학기에서 객체지향프로그래밍 과목 A 성적을 받았습니다.
          </p>
        </div>
        <div class="other">
          <h3>수학 과목 강사<span class="period-mark">.</span></h3>
          <span class="role"></span>
          <span class="time">
            <time datetime="2015-03">2015. 03.</time> - <time datetime="2020-12">2020. 12</time>
          </span>
          <p>
            학업과 동시에 개인 아르바이트로 6년간 인문계 고등학교 1~3학년을 대상으로 수학 과목 강의를 하였습니다. 
            여행 다닐 때 작은 스도쿠 책이 필수일 정도로 무언가를 풀어내는 일을 좋아합니다.
            다양한 학생과 학부모를 만나며 그들이 원하는 방향을 파악하고 현재를 분석하는 커뮤니케이션 경험을 할 수 있었습니다.
            또한 느리지만 원리를 지키는 풀이/빠르지만 정석이 아닌 풀이에 대해 고민하며 때에 맞는 선택을 할 수 있게 되었습니다.
          </p>
        </div>
      </section>
      <section>
        <h2>Education<span class="period-mark">.</span></h2>
        <h3>숙명여자대학교<span class="period-mark">.</span></h3>
        <span class="role">문헌정보학/IT공학</span>
        <span class="time">
          <time datetime="2015-03">2015. 03.</time> - <time datetime="2020-02">2020. 02</time>
        </span>
        <p>
          문헌정보학/IT공학에서 4년간 공부하며 컴퓨터구조, 자료구조, 컴퓨터네트워크, 웹 프로그래밍 등의 과목을 우수한 성적으로 이수하였습니다.
        </p>
      </section>      
      <section>
        <h2>Contact<span class="period-mark">.</span></h2>
        <ul>              
          <li>Email. <a href="mailto:hnleeit@gmail.com">hnleeit@gmail.com</a></li>
          <li>Blog. <a href="https://hanzzang.github.io/" target="_blank">https://hanzzang.github.io</a></li>
          <li>Linkedin. <a href="https://www.linkedin.com/in/hnleeit/" target="_blank">https://www.linkedin.com/in/hnleeit/</a></li>
          <li>GitHub. <a href="https://github.com/hanzzang" target="_blank">https://github.com/hanzzang</a></li>
        </ul>
      </section>
    </div>
  </body>
</html>
